.analytics {
    margin: 0px;
    padding: 5px;
    width: auto;
    height: auto;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 27%;
    right: 0px;

    overflow: scroll;
}

.incomechart {
    margin: 10px;
    padding: 1px;
    max-width: 100%;
    max-height: 200px;
}

.userschart {
    margin: 10px;
    padding: 1px;
    max-width: 100%;
    max-height: 200px;
}
