.products {
    margin: 0px;
    padding: 5px;
    width: auto;
    height: 100%;

    position: fixed;
    top: 0px;
    bottom: 0%;
    left: 27%;
    right: 0px;
}

.categorybox {
    margin: 10px;
    padding: 5px;
    max-width: 100%;
    max-height: 90%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(160, 155, 155, 0.384),
        -1px -1px 2px 1px rgba(192, 192, 192, 0.26);
}
.categorybox .categorycard {
    margin: 10px 15px;
    padding: 2px;
    width: 210px;
    height: 180px;
    border-radius: 18px;
    box-shadow: 1px 1px 1px 1px rgba(160, 155, 155, 0.384),
        -1px -1px 2px 1px rgba(192, 192, 192, 0.26);
}
.categorycard:hover {
    box-shadow: 1px 1px 4px 1px rgba(155, 156, 160, 0.753),
        0px 0px 1px 0px rgba(212, 211, 211, 0.281);
}
.categorycard img {
    margin: 0px;
    padding: 0px;
    height: 78%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
}

.categorycard h4 {
    margin: 1px;
    padding: 2px 4px 4px;
    max-height: 19%;
    max-width: 100%;

    font-size: 17px;
    text-align: center;
    color: rgb(12, 11, 14);
    border: solid 1px rgba(105, 106, 109, 0.404);
    border-radius: 15px;
}

.changeBTN {
    margin: 20px 15px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: lighter;
    background-color: rgb(255, 255, 255);
    float: right;
    box-shadow: 1px 1px 1px 1px rgba(160, 155, 155, 0.384),
        -1px -1px 2px 1px rgba(192, 192, 192, 0.26);
}
.changeBTN:hover {
    box-shadow: 1px 1px 4px 1px rgba(155, 156, 160, 0.753),
        0px 0px 1px 0px rgba(212, 211, 211, 0.281);
}
.changeBTN p {
    margin: 0px;
    padding: 2px;
}
